<header>
    <div class="navbar-center">
        <span class="brand"> <img width="300" src="/images/logo/logo.png" alt="Brand Logo" /></span>
        <nav>
            <a href="#">Home</a>
            <a href="#features">Features</a>
            <a href="#pricing">Pricing</a> <!-- Link updated to target the pricing section -->
            <a href="#">Contact</a>
        </nav>
    </div>
</header>