<button class="float-start background-none border border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="">
    <span class="text-white bi bi-list"></span>
</button>