@using CodeBlock.DevKit.AIChatBot.UI.Models
@using CodeBlock.DevKit.Contracts.Services
@inject LocalizationSettings LocalizationSettings
@inherits LayoutComponentBase
@inject ApplicationSettings ApplicationSettings
@inject ISettingAccessorService SettingAccessorService

<HeadContent>
    <link href="css/cb.website.spa.@(LocalizationSettings.GetCurrentLanguageDirection().ToLower()).min.css" rel="stylesheet" />
</HeadContent>

<SplashScreen BrandName="@ApplicationSettings.Localized.Name" BackgroundCssClass="simple-layout-dark-bg" ProgressBarCssClass="simple-layout-title-color" />

<div id="main-layout-wrapper" class="website-wrapper">
    <BlazoredToasts Position="ToastPosition.BottomCenter"
                    Timeout="5"
                    IconType="IconType.Material"
                    ErrorIcon=""
                    InfoIcon=""
                    SuccessIcon=""
                    WarningIcon=""
                    ShowProgressBar="true" />

    <NavMenu />

    <main>
        @Body
    </main>

    <Footer />

    @if (SettingAccessorService.Settings.AIChatBot.ShowChatBotWidgetOnWebsite)
    {
        <div class="chat-widget">
            <ChatBotWidget Theme="ChatBotWidgetTheme.Dark" />
        </div>
    }

</div>
