@page "/subscribedusers-only"
@using CodeBlock.DevKit.Contracts.Services
@inject ISubscriptionAccessorService SubscriptionService

<PageTitle>@AdminPanelLocalizer[AdminPanelResource.SubscribedUsersOnly]</PageTitle>

<h1 class="page-title">
    @AdminPanelLocalizer[AdminPanelResource.SubscribedUsersOnly]
</h1>

<p class="mb-4 text-muted">
    This demo page shows how to check whether the currently logged-in user has an active subscription.
    You can use this logic to control access to your features, grant access to subscribed users and prompt others to subscribe first.
    For more details, see the
    <a href="https://docs.codeblock.dev/" target="_blank" rel="noopener noreferrer">documentation</a>.
</p>

@if (UserHasAnyActiveSubscription)
{
    <div class="alert alert-success">
        ✅ You have an active subscription, which is why you're seeing this message.
    </div>
}
else
{
    <div class="alert alert-danger">
        ❌ You don't have an active subscription, which is why you're seeing this message.
        <div class="mt-3">
            <a class="btn btn-success" href="/pricing/demo">View Available Plans</a>
        </div>
    </div>
}

@code {
    private bool UserHasAnyActiveSubscription = false;

    protected override async Task OnInitializedAsync()
    {
        UserHasAnyActiveSubscription = await SubscriptionService.UserHasAnyActiveSubscription(CurrentUser.GetUserId());
    }
}
